/* menu */
body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.nav-container {
    background-color: rgb(129, 207, 191);
    border: solid 1px #000;
    padding: 10px 20px;
    text-align: center;
    position: sticky;
    top: 0; 
    z-index: 1000; 
}

.logo {
    height: 50px; 
    width: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul img {
    height: 50px;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    position: relative; 
}

nav ul li a {
    color: #000;
    padding: 10px 25px; 
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    border-radius: 7px; 
    transition: background-color 0.3s ease, color 0.3s ease; 
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.5); 
    color: #000; 
}

img {
    height: 220px;
    border-radius: 50%;
    transition: transform 0.5s ease-in-out;
}

img:hover {
    transform: scale(1.2); 
}

nav ul li .submenu, nav ul li .document {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 999; 
}

nav ul li:hover .submenu, nav ul li:hover .document {
    display: block;
}

.submenu li, .document li {
    padding: 10px 15px;
}

.submenu li a, .document li a {
    text-decoration: none;
    color: #000;
}

.submenu li a:hover, .document li a:hover {
    background-color: rgba(129, 207, 191, 0.8); 
    color: white; 
}


/* sanpham */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; 
}

.book-container {

    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    padding: 20px; 
    

    
}

.book-item {
    background-color: #fff; 
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    margin: 15px; 
    width: 200px; 
    text-align: center; 
    padding: 15px; 
    transition: transform 0.2s; 
    
}

.book-item:hover {
    transform: scale(1.02); 
}

.book-item img {
    width: 100%; 
    border-radius: 5px; 
}

h3 {
    font-size: 18px; 
    margin: 10px 0;  
}

p {
    margin: 5px 0; 
}

.views, .time, .chapters, .category {
    color: #666; 
    font-size: 12px; 
}

.add-to-cart {
    background-color: #4CAF50; /* Màu nền xanh */
    color: white; /* Màu chữ trắng */
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 10px; /* Khoảng cách với phần tử phía trên */
}

.add-to-cart:hover {
    background-color: #45a049; /* Màu nền khi hover */
}